body {
    font-family: 'Roboto', sans-serif;

}

/* root color */

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);

}

/* navigations */
.nav {}

.logo-webstudio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);


}

.logo-web {

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
}

.nav-list {
    list-style: none;


}

.nav-item {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.nav-item-link {
    text-decoration: none;
}

/* adress */
.adress {}

.adress-list {
    list-style: none;
}

.adress-mail {}

.adress-phone {}

.adress-link {}


.adress-mail {}

.address-phone {}

.adress-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text);
}

.hero {
    background-color: var(--dark)
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    cursor: pointer;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.adv {}

.adv-title {}

.adv-list {
    list-style: none;
}

.adv-item {}

.adv-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark);
    letter-spacing: 0.02em;
}

.adv-item-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    letter-spacing: 0.02em;
}

.ourwork {}

.ourwork-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--dark);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.ourwork-list {
    list-style: none;
}

.team {
    background-color: var(--light);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--dark);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    list-style: none;
}

.team-item {}

.team-photo {}

.team-sect-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark);
    text-align: center;
    letter-spacing: 0.02em;
}

.team-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    text-align: center;
    letter-spacing: 0.02em;
}

.footer {
    background-color: var(--dark);
}

.footer-logo {
    font-family: 'Raleway';
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

}

.footer-logo-studio {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--accent);
    letter-spacing: 0.02em;
}