body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    letter-spacing: 0.02em;
    color: var(--text);
}

/* root color */

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --title-dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.link:hover,
.link:focus {
    color: var(--pressed-state);
}

/* ----------------------navigations------------------

/* logo */
.logo {
    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-studio {
    color: var(--title-dark);

}

.nav-list {}

.nav-item {}

.nav-item-link {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

/* /* ----------------------adress------------------ */
.adress {
    font-style: normal;
}

.adress-list {}

.adress-item {}

.adress-link {

    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

/*  /* ----------------------Hero----------------- */
.hero {
    background-color: var(--title-dark)
}

.hero-title {
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}

.button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background: var(--primary-brand);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    font-style: inherit;
}

.button:hover,
.button:focus {
    color: var(--primary-brand);
    background-color: var(--light);
}

/* ----------------------advansed------------------  */
.adv {}

.adv-title {
    letter-spacing: 0.02em
}

.adv-list {}

.adv-item {}

.adv-item-title {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;


}

.adv-item-text {
    font-size: 16px;
    line-height: 1.5;
}

/* ----------------------our works------------------
 */
.ourwork {}

.ourwork-title {
    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.ourwork-list {}

/*  ----------------------our team------------------ */
.team {
    background-color: var(--light);
}

.team-title {
    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-list {}

.team-item {}

.team-photo {}

.team-sect-title {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

/* ----------------------footer------------------ */
.footer {
    background-color: var(--title-dark);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-studio {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;

}

/* ----------------------PORTFOLIO------------------ */
.portfolio {}

.portfolio-title {
    letter-spacing: 0.02em;
}

.porbutton-list {}

.portbutton-item {}

.portbutton {
    font-family: 'Roboto', sans-serif;
    font-style: inherit;
    color: var(--primary-brand);
    background-color: var(--light);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

.portbutton:hover,
.portbutton:focus {
    color: #fff;
    background-color: var(--pressed-state);
}

.portfolio-list {}

.port-link {}

.portfolio-item {}

.portfolio-subtitle {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}