/* root color */

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --title-dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    letter-spacing: 0.02em;
    color: var(--text);
}

img {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.link:hover,
.link:focus {
    color: var(--pressed-state);
}

/* ----------------HEADER-------------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}


/* ----------------------navigations------------------

/* logo */
.logo {
    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-studio {
    color: var(--title-dark);

}

.nav-list {}

.nav-item {}

.nav-item-link {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

/* /* ----------------------adress------------------ */
.adress {}

.adress-list {}

.adress-item {}

.adress-link {

    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

/*  /* ----------------------Hero----------------- */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--title-dark);
    text-align: center;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;


}

.button {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-brand);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    font-style: inherit;
}

.button:hover,
.button:focus {
    color: var(--primary-brand);
    background-color: var(--light);
}

/* ----------------------advansed------------------  */
.adv {}

.adv-title {}

.adv-list {
    padding: 120px 0;
}

.adv-item {}

.adv-item-title {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;

}

.adv-item-text {
    font-size: 16px;
    line-height: 1.5;
}

/* ----------------------our works------------------
 */
.ourwork {
    padding-bottom: 120px;
}

.ourwork-title {
    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourwork-list {}

/*  ----------------------our team------------------ */
.team {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-list {}

.team-item {}

.team-photo {
    margin-bottom: 32px;
}

.team-sect-title {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

/* ----------------------footer------------------ */
.footer {
    background-color: var(--title-dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-studio {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
    width: 264px;

}

/* ----------------------PORTFOLIO------------------ */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-title {}

.porbutton-list {
    margin-bottom: 72px;
}

.portbutton-item {}

.portbutton {
    font-family: 'Roboto', sans-serif;
    font-style: inherit;
    color: var(--primary-brand);
    background-color: var(--light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

.portbutton:hover,
.portbutton:focus {
    color: #fff;
    background-color: var(--pressed-state);
}

.portfolio-list {}

.port-link {
    margin-bottom: 48px;
}

.port-link-img {
    margin-bottom: 32px;
}

.portfolio-item {
    margin-bottom: 48px;
}

.portfolio-subtitle {
    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}